@import 'src/app/styles/variables';

@mixin divider {
  height: 4px;
  width: 300px;
  background-color: $font-hover-color;
  margin: 30px auto 30px auto;
  border-radius: 4px;
}

@mixin disabled-btn {
  &.disabled {
    cursor: not-allowed;

    &:hover {
      box-shadow: none;
    }
  }
}

@mixin init-page-height {
  min-height: calc(100vh - 64px - 145px);
}

@mixin credentials-modal {
  margin: 60px auto;
  border-radius: 8px;
  width: 516px;
  background-color: $credentials-modal-color;
  padding: 16px 48px 49px 48px;

  &__inputs {
    margin-top: 49px;
  }

  &__btn {
    margin-top: 30px;
    width: 100%;
    padding: 16px 0;
    cursor: pointer;
    background-color: $green-button-color;
    color: $white-text-color;

    &:hover {
      box-shadow: 0 0 15px 0 $green-button-shine-color;
    }
  }
}

@mixin nav-link {
  color: $white-text-color;
  position: relative;
  text-decoration: none;
  transition: .3s all;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $font-hover-color;
    transition: width 0.3s ease-out;
  }
}

@mixin nav-link-animations {
  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $font-hover-color;
  }
}

@mixin modal-window {
  z-index: 10000;
  display: block;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
  background-color: $white-text-color;
  border-radius: 8px;
  border: 1px solid $black-text-color;

  &__bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
  }

  &__cross {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
  }

  &__btn {
    margin: 15px auto 0 auto;
    background-color: $green-button-color;
    display: block;
    color: $white-text-color;

    &:hover {
      box-shadow: 0 0 15px 0 $green-button-shine-color;
    }
  }
}