@import 'src/app/styles/variables';

@mixin nav-link {
  color: $white-text-color;
  position: relative;
  text-decoration: none;
  transition: .3s all;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $font-hover-color;
    transition: width 0.3s ease-out;
  }
}

@mixin nav-link-animations {
  &:hover:after {
    width: 100%;
  }

  &:hover {
    color: $font-hover-color;
  }
}