$font-hover-color: #ffe61c;
$common-subtitle-color: #cbcbcb;
$aside-background-color: #282828;
$white-text-color: #ffffff;
$lot-shadow-color: #afafaf;
$lot-text-color: #646464;
$black-text-color: #000000;
$cancel-color: #ff2f2f;
$cancel-shine-color: #ff5454;
$green-button-color: #47cf73;
$green-button-shine-color: #00ff51;
$violet-button-color: #945eff;
$violet-button-shine-color: #976fff;
$orange-button-color: #ffa700;
$orange-button-shine-color: #ffb221;
$credentials-modal-color: #f5f7fa;
$credentials-link-color: #999999;
$credentials-divider-color: #dddddd;