@import 'src/app/styles/variables';

.CredentialsLinks {
  display: flex;
  justify-content: space-between;

  &__link {
    padding: 16px 74px;
    color: $credentials-link-color;
    text-decoration: none;
    font-size: 17.05px;
    font-weight: 700;
    border-bottom: 1px solid $credentials-link-color;

    &.active {
      color: $font-hover-color;
      border-bottom: 2px solid $font-hover-color;
    }
  }
}