.MainButton {
  padding: 10px 15px;
  border-radius: 8px;
  transition: .3s all;
  font-weight: 700;
  font-size: 16px;
  border: none;
  cursor: pointer;

  &.disabled {
    border: 5px solid black;
  }
}